.bodyprincipal {
    margin: 0;
    padding: 0;
    background-image: url(img/f1.jpg);

}
.titulo {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;



}

.body{
    margin: 0;
    padding: 0;
    background-image: url(img/f1.jpg);



}